nav {


position: absolute;
z-index: 1;
text-shadow: 2px 2px 5px black;
width: 100vw;
flex-direction: column;
color: #ffffff;
font-size: medium;
font-weight: 600;
font-stretch: normal;
border-radius: 2px;

display: flex;
text-align: center;
align-items: center;
justify-content: space-around;
background-color: #ffffff00;
flex-wrap: wrap;

border-top-left-radius:2 ;
box-sizing: border-box;

}